@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-greeting{
  font-size: calc(5px + 2vmin);
  font-weight: 300;
}

.App-header {
  background-color: #E8F7EE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: calc(32px + 2vmin);
  padding: 310px 0px 0px 150px;
  color: #3C362A;
  font-family: Lato;
}

.App-subheader {
  color: #3C362A;
  font-weight: 300;
  font-size: calc(12px + 2vmin);
}

.App-links {
  color: #BC6C25;
  font-weight: 300;
  font-size: calc(12px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
